* 
{
    margin: 0px;
    padding: 0px;
}

body 
	{
/*    background-color: #b0c4de;*/
    background-color: purple;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    padding-top: 0px;
    height: 100px;
	}

.navbar navbar-fixed-top
{
	width: 20%;
    padding-top: 0px;
    margin: 0px;
	background-color: #FFFFFF;
	position: absolute;
}

.navbar-inner
	{
		background-color: #C0C0C0;
		width: 20%;
		border-left: 0px solid #D4D4D4;
		border-right: 0px solid #D4D4D4;
		border-bottom: 6px solid #D4D4D4;
		min-height: 1px;
		position: absolute;
	}

.nav
	{
		width: 100%;
		height: 100px;
		margin-top:20px;
	}

.navbar-inner-bottom
	{
		background-color: #484848;
		height: 25px;
		width: 100%;
		min-height: 1px;
		position: fixed;
		bottom: 0;
		border-top: 5px solid #D4D4D4;
		opacity: 0.8;
		z-index: 100;
	}


 .navbar navbar-fixed-bottom
{
	height: 25px;
	width: 100%;
    padding-top: 0px;
    margin: 0px;
    position: absolute;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;
	border-top: 5px solid #D4D4D4;
	opacity: 0.8;
	z-index: 100;
}

 .container
	{
		text-align: center;
		border-right: 5px solid #525252;
	    background: -webkit-linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradientwhite(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(white, white, white, white, white, white, white, white, white, white, grey, black); /* Standard syntax (must be last) */
	}

 .container-bottom
{
	height: 100%;
	width: 1170px;
	margin-left: 125px;
	margin-right: 125px;
	background-color: #484848;
    position: absolute;
    display: inline-block;
	opacity: 0.8;
}

.brand
	{
		font-size: 36px;
		font-family: "Quicksand", sans-serif;
		color: white;
		text-decoration: none;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		background-color: black;
	}


#Spencer
	{
		width: 100%;
		height: 200px;
		display: table;
		background-color: black;
	}

li
{
	width: 100%;
	margin-top: 13px;
	padding-left: 20px;
	display: inline;
	list-style-type: none;
	color: #3D59AB;
	text-decoration: none;
	float: left;
	display: table;
	text-align: left;
/*	background-color: black;*/
}

.select
{
	background-color: black;
}


.active
{
	text-decoration: none;
	display: inline block;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	text-align: left;
	color: #3399FF;
	line-height: 62px;

}

.active:hover {
    font-weight:bold;
}

.img-circular
{
	 width: 300px;
	 height: 300px;
	 background-image: url('file:///Users/spencerhivert/Desktop/MX.jpg');
	 background-size: cover;
	 display: block;
	 border-radius: 150px;
	 -webkit-border-radius: 150px;
	 -moz-border-radius: 150px;
	 border: 2px solid #606060;
}

.img-square
{
	 width: 100px;
	 height: 100px;
}

.img-square-small
{
	 width: 65px;
	 height: 65px;
	 float: middle;
}

.img-square-medium
{
	 width: 171px;
	 height: 70px;
	 float: middle;
}

.img-container
{
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 30px;
	 float: center;
	 width: 300px;
}

.img-container-about
{
	width: 300px;  
    margin: 0 auto;
    margin-top: 20px;

}

.about
{
	width: 100%;
	background-color: #b0c4de;
	overflow: hidden;
}

.professional-experience
{
	background-color: white;
	overflow: hidden;

}

.skills
{
	background-color: #b0c4de;
	overflow: hidden;
}

.projects
{
	background-color: white;
	overflow: hidden;
}

.contact
{
	background-color: #b0c4de;
	overflow: hidden;
}

h1
{
	text-align: center;
	font-size: 35px;
	font-family: Pontano Sans, sans-serif;
}

h3
{
	text-align: left;
	font-size: 16px;
	font-family: Pontano Sans, sans-serif;
	color: #FFFFFF;
	background-color: #484848;
	letter-spacing: 2px;
	vertical-align: middle;
	position: relative;
	margin-top: 2px;

}

#resume-text
{
	text-align: left;
	margin-left: 50px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 22px;
	color: #3D59AB;
}

#pro-text
{
	text-align: left;
	margin-left: 50px;
	font-weight: bold;
	margin-bottom:20px;
	margin-top: 25px;
	font-size: 22px;
	color: #3D59AB;
}

#bullet
{
	text-align: left;
	margin-left: 85px;
	font-size: 18px;

}

p
{
	font-family: "Quicksand", sans-serif;
	vertical-align: middle;

}

#about-text
{
	text-align: center;
	line-height: 140%
}

#contactinfo
{
	text-align: left;
	float: middle;
	font-size: 30px;
	font-family: "Quicksand", sans-serif;
	color: #000000;
	margin-left: 75px;


}

.content-container
{
	width: 80%;
	float: right;
	position: relative;
	display: table;

}


.Heading
{
	height: 60px;
	width: 100%;
}

.section-heading
{
	padding-top: 10px;
	height: 66px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #484848;
	vertical-align: center;
}

.section-table-top
{ 
	background-color: white;
    border-style: solid;
    border-top: thick double grey;
    border-left: thick double grey;
    border-right: thick double grey;
    border-bottom: 0px;
    margin:0 auto;
}

.section-table-bottom
{ 
	background-color: white;
    border-style: solid;
    border-bottom: thick double grey;
    border-left: thick double grey;
    border-right: thick double grey;
    border-top: 0px;
    margin:0 auto;
}

.large-table
{ 
    margin:0 auto;
    margin-top: 45px;

}

#connect
{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 200px;
	width: 400px;
	background-color: #FFFFFF;
	border-style: double;
    border: 2px double #D4D4D4;
    border-radius: 25px;
}

.text 
{
	width: 100%;
}

.table-text
{
	text-align: center;
	font-size: 22px;
	color: white;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: none
}

.table-text-mail:link
{
	text-align: center;
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: none;
}

.table-text-mail:visited
{
	text-align: center;
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: none;
}

.table-text-mail:hover
{
	text-align: center;
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: underline;
}

.table-text-mail:active
{
	text-align: center;
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: black;
	text-decoration: underline;
}


#resume:link
{
	text-decoration: underline;
		color: #3D59AB;
}

#resume:active
{
	text-decoration: underline;
		color: #3D59AB;
}

#resume:hover
{
	text-decoration: underline;
	font-weight: bold;
		color: #3D59AB;
}

#resume:visited
{
	text-decoration: underline;
		color: #3D59AB;
}

#enter
{
	width: 100%;
	overflow: hidden;
	position: relative;
}

#enter-text
{
	position: absolute;
	display: block;
	top: 25%;
	background-color: black;
	opacity: 0.7;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow: hidden;

}

#ny
{
	z-index: -1;
}

.stuck
{
    position:fixed;
    top:0;
    width: calc(20% - 5px);
}

h4
{	
	position: relative;
	height: 175px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	font-weight: 200;
	font-family: "Quicksand", sans-serif;
	color: #FFFFFF;
	letter-spacing: 2px;
	padding-top: 15px;
	padding-bottom: 30px;
	line-height: 120%
}

h5
{	
	position: relative;
	text-align: left;
	vertical-align: middle;
	font-size: 48px;
	font-family: "Quicksand", sans-serif;
	color: black;
	letter-spacing: 2px;
	padding-left: 20px;
	line-height: 120%;
}

.down_arrow
{
	display: block;
	position: absolute;
	float: middle;
	vertical-align: middle;
	bottom: 60px;
	width: 120px;
	height: 120px;
	cursor: pointer;
	background-image: url('/Users/spencerhivert/Desktop/arrow.png');
    left:50%;
    margin-left:-70px;
}

.real-content
{
display: table-cell;
vertical-align: middle;
overflow: hidden;
}

.welcome-spiel
{
	width: 75%;
	margin: 0 auto;
	font-size: 24px;
	margin-top: 30px;
	color: black;
}

br {
        line-height: 36px;
     }

.skillslist
{
    list-style: none;
	font-size: 32px;
	font-family: "Quicksand", sans-serif;
	display: table-cell;
	text-align: center;
	width:50%;

}

.ski:before {
		 content: "\00BB \0020";
		 color: black;
	     }


.ski
{
  border-bottom:1px solid #ccc;
  float:left;
  clear: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 100%;
}

.secondlist
{
	position: relative;
}


